<!--Footer-->
<footer>
  <div class="space-60"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h4>About Us</h4>
        <div class="space-40"></div>
        <div class="text-left">
          <div class="alignleft margin-top-offset">
            <img src="/assets/images/footer-logo.png" alt="">
          </div>
          <p>This is an experienced and professional marketplace that belives in making network and build up digital
            community.We are here to promote designers who has a great contribution on this outstanding accessible free
            &amp; premium layouts for premium graphic, design and web resources.</p>
        </div>
        <div class="space-60"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2">
        <h4>Company</h4>
        <div class="space-40"></div>
        <ul class="list-unstyled">
          <li><a href="about.html">About </a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="tream.html">Privacy Policy </a></li>
          <li><a href="tream.html">Terms of Use</a></li>
        </ul>
        <div class="space-60"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2">
        <h4>My shop</h4>
        <div class="space-40"></div>
        <ul class="list-unstyled">
          <li><a href="about.html">About </a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="tream.html">Privacy Policy </a></li>
          <li><a href="tream.html">Terms of Use</a></li>
        </ul>
        <div class="space-60"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2">
        <h4>Payment getway</h4>
        <div class="space-40"></div>
        <ul class="list-unstyled list-inline pay-card">
          <li><a href="#"><i class="icofont icofont-stripe-alt"></i></a></li>
          <li><a href="#"><i class="icofont icofont-paypal-alt"></i></a></li>
          <li><a href="#"><i class="icofont icofont-visa-alt"></i></a></li>
          <li><a href="#"><i class="icofont icofont-mastercard-alt"></i></a></li>
        </ul>
        <div class="space-60"></div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2">
        <h4>Follow me</h4>
        <div class="space-40"></div>
        <ul class="list-inline list-unstyled social-menu">
          <li><a href=""><i class="icofont icofont-social-facebook"></i></a></li>
          <li><a href=""><i class="icofont icofont-social-twitter"></i></a></li>
          <li><a href=""><i class="icofont icofont-social-google-plus"></i></a></li>
          <li><a href=""><i class="icofont icofont-social-instagram"></i></a></li>
        </ul>
        <p>
          <small>2017 Psdwings. Some Rights Reserved.</small>
        </p>
        <div class="space-60"></div>
      </div>
    </div>
  </div>
</footer>
<!--Footer/-->
