<header class="relative">
  <!--Header-Background-and-parallax-image-->
  <div class="header-bg bg-primary">
    <div class="header-scroll-item">
      <div class="container">
        <div class="col-xs-4">
          <div class="cloud1">
            <img src="/assets/images/effect/note.png" alt="">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="cloud2">
            <img src="/assets/images/effect/glass.png" alt="">
          </div>
        </div>
        <div class="col-xs-4">
          <div class="cloud3">
            <img src="/assets/images/effect/laptop.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Header-Background-and-parallax-image/-->
  <!--Header-Top-Bar-->
  <div class="container">
    <div class="row">
      <div class="space-10"></div>
      <div class="col-xs-6 col-sm-4">
        <a href="index.html"><img src="/assets/images/logo.png" alt=""></a>
      </div>
      <div class="col-xs-6 col-sm-8 text-right xs-text-center">
        <div class="space-15"></div>
        <ul class="breadcrumb text-white hidden-xs">
          <li><a href="about.html">About</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <a href="#login-form" class="bttn bttn-green" data-toggle="modal">Login</a>
        <!-- Modal -->
        <div id="login-form" class="modal fade" role="dialog">
          <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="icofont icofont-close"></i></button>
                <div class="show bg-primary text-center text-white text-uppercase">
                  <div class="space-10"></div>
                  <a href="#login" data-toggle="pill" class="mlb">Login</a>
                  <a href="#register" data-toggle="pill" class="mlr">Register</a>
                  <div class="space-10"></div>
                </div>
              </div>
              <div class="modal-body">
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="login">
                    <form action="#">
                      <div class="form-group form-group-lg">
                        <input type="text" class="form-control" placeholder="Email address">
                      </div>
                      <div class="form-group form-group-lg">
                        <input type="text" class="form-control" placeholder="Password">
                      </div>
                      <div class="space-10"></div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="">Remember me</label>
                      </div>
                      <div class="space-20"></div>
                      <button type="submit" class="bttn bttn-green show padding15">Login</button>
                      <div class="space-10"></div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="register">
                    <form action="#">
                      <div class="form-group form-group-lg">
                        <input type="text" class="form-control" placeholder="First name">
                      </div>
                      <div class="form-group form-group-lg">
                        <input type="text" class="form-control" placeholder="Last name">
                      </div>
                      <div class="form-group form-group-lg">
                        <input type="email" class="form-control" placeholder="Email address">
                      </div>
                      <div class="form-group form-group-lg">
                        <input type="password" class="form-control" placeholder="Password">
                      </div>
                      <div class="space-20"></div>
                      <button type="submit" class="bttn bttn-green show padding15">Register</button>
                      <div class="space-10"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown navbar-right">
          <button class="dropdown-toggle checkout text-white" type="button" data-toggle="dropdown"><i
            class="icofont icofont-grocery"></i><sup>3</sup></button>
          <!--Checkout-option-->
          <div class="dropdown-menu checkout-menu">
            <div class="text-center">
              <h5 class="text-uppercase text-primary padding20">Order list</h5>
            </div>
            <table class="table">
              <tr class="alert  alert-dismissable">
                <td><img src="/assets/images/checkout/image-1.jpg" alt=""></td>
                <td>
                  <h6>Business Card</h6>
                  <a href="" data-dismiss="alert"><i class="icofont icofont-ui-delete"></i></a>
                </td>
                <td><strong>&#36;6.00</strong></td>
              </tr>
              <tr class="alert  alert-dismissable">
                <td><img src="/assets/images/checkout/image-1.jpg" alt=""></td>
                <td>
                  <h6>Business Card</h6>
                  <a href="" data-dismiss="alert"><i class="icofont icofont-ui-delete"></i></a>
                </td>
                <td><strong>&#36;12.00</strong></td>
              </tr>
            </table>
            <div class="text-center">
              <a href="#" class="bttn bttn-green padding15 show">Proceed to checkout ($18.00)</a>
            </div>
          </div>
        </div>
      </div>
      <div class="space-10"></div>
    </div>
  </div>
  <!--Header-Top-Bar/-->
  <!--Mainmenu-area-->
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default mainmenu">
        <div class="container-fluid">
          <div class="row">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#mainmenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!--Mainmenu-Item-->
            <div class="collapse navbar-collapse navbar-left" id="mainmenu">
              <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="shop.html">Template</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="shop.html">Pages <span
                  class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="view.html">Product view</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="tream.html">tream</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <!--Mainmenu-Item/-->
            <!--Search-Box-->
            <form action="#" class="navbar-form navbar-right search-form">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="icofont icofont-search-alt-2"></i></button>
                </div>
              </div>
            </form>
            <!--Search-Box/-->
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!--Mainmenu-Area/-->
  <!--Header-Text-->
  <div class="container">
    <div class="row">
      <div class="space-100"></div>
      <div class="space-50"></div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center text-white">
        <h1>Exclusive marketplace</h1>
        <div class="space-10"></div>
        <p>Free for both personal &amp; commercial use. Have a bite!</p>
      </div>
      <div class="space-100"></div>
      <div class="space-50"></div>
    </div>
  </div>
  <!--Header-Text/-->
</header>
